<div class="left fl">
	<div class="nav"  style="margin-top: 0px;">
		<div class="dh"><img src="/templets/default/images/dh.png"></div>
<ul>
<li><a href="/products/fangban.html">方板系列</a></li>
<li><a href="/products/diejiban.html">跌级板系列</a></li>
<li><a href="/products/tiaokou.html">条扣系列</a></li>
<li><a href="/products/geshan.html">格栅系列</a></li>
<li><a href="/products/zheyangban.html">遮阳板系列</a></li>
<li><a href="/products/fangtong.html">方通系列</a></li>
<li><a href="/products/guapian.html">挂片系列</a></li>
<li><a href="/products/yixingban.html">异形板系列</a></li>
<li><a href="/products/jiazhuangban.html">家装板系列</a></li>
<li><a href="/products/peijian.html">配件</a></li>
<li><a href="/products/dianqi.html">电器系列</a></li>
</ul>
	</div>
	<div class="nav">
		<div class="dh"><img src="/templets/default/images/lx.png"></div>
		<p>联系电话：0757-29915569<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;0757-29915578</p>
		<p>传真：0757-23620938</p>
		<p>地址：佛山市顺德区勒流镇富安工业区富南路6号</p>
	</div>
</div>